!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Modular Test
    %meta{'http-equiv' => 'Content-Type', 'content' => "text/html;charset=UTF-8"}
  %body
    #root
      #header
        %h1 Sinatra Modular Test
      #loading
      =yield
      #root_footer  
    #footer